/* for navbar */
@media (max-width: 991px) {
    .menu-area {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 280px;
        height: 100vh;
        background-color: #ffffff;
        opacity: 0;
        visibility: hidden;
    }
    .menu-area-visible {
        opacity: 1;
        visibility: visible;
    }
    .menu-close-icon-visible {
        display: block;
    }
    .menu-area nav {
        padding-top: 100px;
        padding-left: 50px;
    }
    .menu-area nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-area ul li {
        margin: 7px 0px;
    }
    .menu-area ul li a {
        text-align: left;
    }
    .menu-area nav ul li ul.submenu {
        top: 0%;
    }

    header {
        position: relative;
    }
    .mobile-menu,
    .mobile-menu-close {
        position: absolute;
        top: 35px;
        right: 60px;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu-close {
        z-index: 12;
    }
    .mobile-menu button,
    .mobile-menu-close button {
        background: none;
        border: none;
        font-size: 20px;
    }
    .mobile-menu-close button i {
        color: gray;
    }
    .mobile-menu-close:hover button i {
        color: red;
    }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .contact {
        height: 400px;
        margin-top: 50px;
    }
    .contact-form .contact-btn {
        display: flex;
        justify-content: center;
    }
    .blog-item {
        margin-bottom: 40px;
    }
    .blog-item img {
        width: 100%;
    }
}

/* Large Mobile :576px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
    .feature-item {
        border-bottom: 2px solid #ffffff;
    }
    .features-area {
        text-align: center;
    }
    .features-area .features-area-heading::before {
        left: 40%;
    }
    .features-img-area {
        margin-top: 40px;
    }
    .contact {
        height: 500px;
    }
    .contact .contact-btn {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .pt-item {
        margin-bottom: 10px;
    }
    .blog-item {
        margin-bottom: 20px;
    }
    .footer-bottom {
        text-align: center;
    }
    .contact-form {
        margin: 0;
    }
}
/* small Mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 575px) {
    header .btn-area {
        margin-top: 30px;
    }
    .feature-item {
        border-bottom: 2px solid #ffffff;
    }
    .contact {
        height: 500px;
    }
    .contact-form {
        margin: 0px 10px;
    }
    .contact-btn {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .counter-item {
        margin-bottom: 40px;
    }
    .blog-wrapper {
        padding: 0px 25px;
    }
    .blog-item {
        margin-bottom: 20px;
    }
    footer {
        padding-left: 50px;
    }
    .footer-bottom {
        text-align: left;
    }
    .footer-bottom ul {
        display: flex;
        justify-content: flex-start !important;
        padding-left: 20px;
    }
    .hero-slider h2 {
        font-size: 40px;
    }
    .features-img-area {
        margin-top: 30px;
    }
    .testimonail-item {
        padding: 20px 10px 50px;
    }
    .blog-area {
        padding: 100px 0px 50px;
    }
}
/* small Mobile :320px. */
@media only screen and (max-width: 320px) {
    .container{
        width: 310px;
    }
}
